@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css');
div{
    font-family: 'Open Sans';

}
.h-center{
    text-align: center;
   
  background: -webkit-linear-gradient(#e0f5ff, #2d90d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#table_part{
    border:5px solid #e0f5ff;
    border-radius: 30px;
    width:40%;
    left:30%;
    display: block;
    position: absolute;
}
.form-left{
    width:25%;
    left:10px;
    position: relative;
}

.pad-top{
    margin-top: 10px;
    
}

.action-elt:hover{
cursor: pointer;
}

.span-elt{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline #d7cffe;
}
.span-elt-text{
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    
}
.div-pad{
    padding: 15px 10px 15px 15px;
   
}
.span-elt.new{
    text-decoration: underline #cffeef;
}
.span-elt.do{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.table-elt{
    width:100%;
    text-align: center;
}

.inner-table-0{
    width:10%;
    border-right: 1px solid #eeecff ;
}
.inner-table-1{
    width:60%;
    border-right: 1px solid #eeecff ;
    
}
.inner-table-2{
    width:10%;
    border-right: 1px solid #eeecff ;
}
.inner-table-3{
    width:10%;
}
.inner-table-4{
    width:10%;
}